<!-- RUN THE COMMAND ng add @angular/material to use the material components-->

<div class="header">
  <nav>
    <div class="logo">
      <a href="#"><img src="../../assets/logo2.png" alt="LOGO"></a>
    </div>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contract</a></li>
    </ul>
    <div class="button">
      <!--<button>Connect</button> //-->
    <button routerLink='/auth'>Connect</button> 
    </div>
  </nav>
</div> 


<div class="container bg-image">
  
<div class="toggle-icon">
  <p class="choose-account"> Choose Your Profile!</p>
  
  <!-- Style the mat-slide-toggle according to the new requirement using wrapper class method check stackoverflow-->
  <b>Doctor &nbsp; &nbsp;</b> <mat-slide-toggle (click)="toggleForm()"> <b> &nbsp; &nbsp; User </b></mat-slide-toggle> 
    <!-- <button class="toggle-btn" (click)="toggleForm()">Not this?</button> -->
</div>



<!-- These are the form for the first time users that is for both doctors and the patients so that while clicking minting 
      they will receive the corresponding nfts with thier previliges -->

<!--Doctor first time Minting Page-->
  <div *ngIf="showDoctorForm">  
    <h2>Welcome Doctor!</h2>
    <form (ngSubmit)="onDoctorFormSubmit()"> <!-- Update doctor form Page-->
      <label>
        Name:
        <input type="text" placeholder="Enter Your Name" name="name" [(ngModel)]="doctorName">
      </label>
      <br>
      <label>
        Registartion Number:
        <input type="text" placeholder="Enter Your Reg.No" name="number" [(ngModel)]="doctorRegNo">
      </label>
      <br>
      <label>
        Year of Registartion:
        <input type="text" placeholder="Enter Registration Year" name="date" [(ngModel)]="doctorRegYear">
      </label>
      <br>
      <label>
        SMC:
        <input type="text" placeholder="State Medical Council" name="smc" [(ngModel)]="doctorSMC">
      </label>
      <button type="submit">Mint!</button>
    </form>
  </div>
  

  <!--User First time Minting Page-->
  <div *ngIf="!showDoctorForm">
    <h2>Welcome User!</h2>
    <form (ngSubmit)="onPatientFormSubmit()">
      <label>
        User Name:
        <input type="text" placeholder="Enter a User Name" name="name" [(ngModel)]="patientName">
      </label>
      <br>
      <button type="submit">Mint!</button>
    </form>
  </div>
  



  <!--Home Page-->
  <div class="container bg-image">
  
     <!--Footer-->
     <div class="footer">
      <p>Copyright © 2023.All rights reserved.</p>
    </div>   
</div>

</div>
