  /* NAVBAR STYLING */
  .header {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: None;
    color: white;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    margin-left: 20px;
  }
  
  .logo img {
    max-width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    margin-top: 5;
    padding: 50;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
    padding: 10px;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    font-size: larger;
  }
  
  nav li a:hover {
    background-color: none;
    color: black;
  }

.container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.bg-image {
  background-image: url('../../image.png'); 
  /* background-image: url('../../assets/tino-rischawy-iuBtS3iDpfg-unsplash.jpg'); */
}


/* To set The Position on the screen */
.toggle-btn{
  margin-top: 100%;
}


/* Set the background color of the component */
.auth {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  /* Style the forms */
  form {
    margin: 20px 0;
    color: white;
  }
  
  /* Style the form inputs */
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
  }
  
  /* Style the form labels */
  label {
    font-weight: bold;
  }
  
  /* Style the toggle button */
  .toggle {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }

  /* Mobile Responsive */
  /* Styles for screens smaller than 768px */
@media only screen and (max-width: 767px) {
    .auth-container {
      width: 100%;
    }
    .form-container {
      flex-direction: column;
      align-items: center;
    }
    .form-container input,
    .form-container button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  /* Styles for screens larger than 768px */
  @media only screen and (min-width: 768px) {
    .auth-container {
      width: 50%;
    }
    .form-container {
      flex-direction: row;
      justify-content: space-between;
    }
    .form-container input,
    .form-container button {
      width: 48%;
    }
  }
  
/* FOOTER STYLING */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

button {
  margin-top: 25px;
  background-color: #D9D9D9;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
  font-weight:lighter;
}

button:hover {
  background-color: #090909;
  color: white
}

.button {
  padding: 8px;
  margin-right: 20px;
}

