<div class="container bg-image">

<!--Header-->
    <div class="header">
      <nav>
        <div class="logo">
          <a href="#"><img src="../../assets/logo2.png" alt="LOGO"></a>
        </div>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contract</a></li>
        </ul>
        <div class="button">
          <!--<button>Connect</button> //-->
        <button routerLink='/auth'>Exit</button> 
        </div>
      </nav>
</div>

<div class="patient-container">
   <!--PATIENT TIMELINE THAT IS LEFT SIDE-->
  <div class="timeline-container">
    <div class="timeline-header">Timeline of Health Activites</div>
    <div class="timeline" [perfectScrollbar]>
      <div class="timeline-event" *ngFor="let event of timelineData">
        <div class="event-date">{{ event.date }}</div>
        <div class="event-title">{{ event.title }}</div>
        <div class="event-description">{{ event.description }}</div>
      </div>
    </div>
  </div>

  <!--PATIENT PROFILE THAT IS RIGHT SIDE-->
  <div class="profile-container">
  
  <span class="icon-text-container">
    <div class="account_address"> 
       {{account_address}} <mat-icon class="profile-icon">account_circle</mat-icon>
    </div>  <!--To display the account address of the user-->
  </span>

    <div class="profile-content" [perfectScrollbar]>
    <h2> Recent Approvals </h2>
    <div class="recent_approval" *ngFor="let recent_approvals of recent_approvals"> <!--To display the recent approval by the user-->
      {{recent_approvals}}
    </div>
   </div>

   <input type="text" class="address-input" placeholder="Enter the address to change permission!" [(ngModel)]="addressToGrantOrRevoke"> <!--Store the address-->

    <div class="button-container">
      <button (click)="grantPermission()" class="grant-button">Grant</button>
      <button (click)="revokePermission()" class="revoke-button">Revoke</button>
    </div>
  </div>
</div>


<!--Footer-->
<div class="footer">
  <p>Copyright © 2023.All rights reserved.</p>
</div>  

</div>