<div class="container bg-image">
    <!--Header-->
    <div class="header">
        <nav>
          <div class="logo">
            <a href="#"><img src="../../assets/logo2.png" alt="LOGO"></a>
          </div>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contract</a></li>
          </ul>
          <div class="button">
            <!--<button>Connect</button> //-->
          <button routerLink='/auth'>Connect</button> 
          </div>
        </nav>
</div>

<h1> Doctor's Page</h1>

    <div class="left">
      <!-- Code for the left side of the page goes here -->
      <h1> Left Side</h1>
    </div>
    <div class="right">
      <!-- Code for the right side of the page goes here -->
      <h1> Right Side </h1>
    </div>

<!--Footer-->
<div class="footer">
    <p>Copyright © 2023.All rights reserved.</p>
</div>   


</div>
  

