<!--Home Page-->
<div class="container bg-image">

    <!--Header-->
    <div class="header">
            <nav>
              <div class="logo">
                <a href="#"><img src="../../assets/logo2.png" alt="LOGO"></a>
              </div>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contract</a></li>
              </ul>
              <div class="button">
                <!--<button>Connect</button> //-->
              <button routerLink='/auth'>Connect</button> 
              </div>
            </nav>
    </div>



    <!--Hero Section-->
    <div class="text-container">
      <h1> Hear us out! </h1>
      <h3>"Health is wealth, and the right information is key to unlocking it."</h3>
      <p>We provide a secure & decentralised system to store and organise your health records!</p>
      <button routerLink='/auth'>Join Now</button> 
    </div>

    
       <!--Footer-->
       <div class="footer">
        <p>Copyright © 2023.All rights reserved.</p>
      </div>   

</div>
  